* {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}

/* *******************NAVBAR******************** */
#logo-div {
  width: 150px;
  padding: 10px;
  text-align: center;
}

#header-link {
  text-decoration: none;
  color: black;
}

#summer-deals-div {
  width: 110px;
  padding: 10px;
}

#search-div {
  display: flex;
  width: 270px;
  padding: 5px;
}

#icon {
  margin-top: 6px;
}

#arrow-div {
  display: flex;
  justify-content: center;
}

.navbar-open {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-closed {
  display: none;
}

.nav-closed-ul {
  display: none;
}

@media (max-width: 900px) {
  .navbar-open {
    display: none;
  }

  .navbar-closed {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2%;
  }

  .nav-closed-ul {
    display: block;
  }
}

.nav-closed-li {
  display: flex;
  justify-content: space-between;
  padding: 10px 45px;
}

.nav-closed-li:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 176);
  transition-duration: 0.5s;
}

#nav-closed-button {
  border: none;
  margin-right: 1%;
  mix-blend-mode: multiply;
}

#nav-closed-button:hover {
  cursor: pointer;
}

#nav-closed-image {
  mix-blend-mode: multiply;
}

.sub-navbar-open {
  transform: translateY(80px);
  transition-duration: 0.5s;
}

.sub-navbar-closed {
  transform: translateY(0px);
  transition-duration: 0.5s;
  width: 100%;
}

.category-list-nav-open {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
  display: block;
  transition-duration: 0.5s;
}

.category-list-nav-closed {
  display: none;
  transition-duration: 0.5s;
}

/* *******************NAVBAR******************** */

/* *******************BODY******************** */
.carousel-up {
  transform: translateY(0px);
  transition-duration: 0.5s;
}

.carousel-down {
  transform: translateY(190px);
  transition-duration: 0.5s;
}

.carousel-subnav-down {
  transform: translateY(305px);
  transition-duration: 0.5s;
}

@media (min-width: 900px) {
  .carousel-down {
    transform: translateY(0px);
  }

  .carousel-subnav-down {
    transform: translateY(0px);
  }
}
/* *******************BODY******************** */
